@charset "utf-8";

* { margin: 0; padding: 0;}
.fltRight { float: right; padding: 0 0 10px 10px;}
html {height: 100%; margin-bottom: 1px;}

/* ---------------------- Layout ---------------------- */
html { background: url(../i/bg.gif) repeat;}
body { text-align: center; margin: 0 auto; width: 770px;}
#wrap { text-align: left; background-color: #FFF; padding-bottom: 2em; overflow: hidden; height: 1%;}
#content { margin-top: 31px;}
#logo { background: #333; height: 93px;}

  /* Nav Rollovers */
  .nav { list-style: none; padding: 0; margin-left: 520px;}
  /* hide from Mac IE5 \*/ * html .nav { height: 1%;} /* END hide from Mac IE5 */
  .nav li { float: left; list-style: none; padding: 0; margin: 10px; width: 164px;}
  .nav li a { background-position: 0 0; background-repeat: no-repeat; display: block; float: left; overflow: hidden; height: 31px; text-indent: -1000em; text-decoration: none; width: 164px;}
  .nav a:hover { background-position: 0 -31px;}
  .nav li { margin: 0;}
  li.rg a { background: url(../i/1.gif);}
  li.jr a { background: url(../i/2.gif);}

  /* Columns */
  #content h2 { margin-left: 125px; float: left; width: 125px;}
  #content .date { margin-left: 125px; margin-bottom: 20px;}
  #content p { margin-left: 260px; width: 375px; margin-bottom: 10px;}
  #content ol, blockquote { margin-left: 275px; width: 350px; margin-bottom: 10px;}
  #content img.m { clear: both; margin: 2em 0 0 -125px;}
  #content img.r { float: right; margin-right: 55px;}

#content img.sig { float: right;}
#footer { background: #333; text-align: left; color: #FFF; font: 100 0.7em Helvetica, Arial, sans-serif; padding: 10px;}

/* ---------------------- Typography ---------------------- */

#content { font: 100 100% "Palatino Linotype", Palatino, Georgia, serif;}
#content h1 { font-weight: 100; font-size: 1.6em; line-height: 1.7em;}
#content h2 { font-weight: 900; font-size: 1.1em; font-variant: small-caps; color: #666;}
#content p, ol { color: #666; font-size: 0.9em; line-height: 1.4em;}
#content p:first-line { color: #333;}
#content ol { list-style: decimal; padding-left: 6px;}
#content ol li { list-style-type: decimal;}
#content blockquote { font-style: italic; color: #666;}
#content blockquote p { margin: 0;}


#content .date { font-family: Georgia, serif; color: #999; margin-top: -1em;}
#content .day { font-weight: 900; margin: 0 -0.1em 0 0; color: #000; font-size: 1.8em;}
#content .month { color: #666; font-weight: 100; font-variant: small-caps;}
#content .year { color: #999;margin: 0 0 0 -0.3em;}

#content .caption { font-style: italic; font-size: 0.75em; text-align: right; color: #666;}

/* ---------------------- Links ---------------------- */

#content a:link, #content a:visited, #content a:hover, #content a:focus { font-weight: 900; text-decoration: none;}
#content a:link { color: #000; border-bottom: 1px #000 solid;}
#content a:visited { color: #333; border-bottom: 1px #333 solid;}
#content a:hover { color: #F69; border: 0;}
#content a:focus { background: #F69; color: #FFF; border: 0;}

#access a:link, #access a:visited, #access a img { font: 100 0.7em Helvetica, Arial, sans-serif; color: #EEE; text-decoration: none; border: none; vertical-align: bottom}
#access a:hover { color: #FFF; background: #F69;}


/* ---------------------- Temp ---------------------- */

#logo p#access {float: left; width: 100%;}
#content h2 { margin: -.33em 0 -1.1em 125px; float: left; width: 125px; display: inline /* IE-fix */;} 
#content img.m { clear: both; margin: 0.5em 0 0 125px; float: left;}
#content .caption {clear: both;}