/* reset.css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
	
/* Float Clearing */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* Scrollbar Fix */
html {height: 100%; margin-bottom: 0.1px;}

/* Layout */
body {text-align: center; margin: 0 auto; background: #FFF; font: 100 100% Georgia, serif;}
#wrap { text-align: left; margin-top: 210px;}
#nav {margin: 0 auto 25px auto; width: 960px;text-align: right;}
#nav li { display: inline; padding: 0 21px 0 0;}

.banner { list-style-image: none; list-style-position: outside; list-style-type: none; padding: 0; text-align:center;}
* html .banner { height:1%;}
.banner li { float:left; list-style-image:none; list-style-position:outside; list-style-type:none; padding:0; width: 100%; background: #505048; }
.banner li a { background-position:0; background-repeat:no-repeat; display:block; height:100px; overflow:hidden; text-decoration:none; text-indent:-1000em;width:960px; margin: 0 auto;}
.banner li#index a:hover { background-position:0 -100px;}
.banner li#contact a:hover { background-position:0 -100px;}
  li#index a { background: url('../i/banner-index.png');}
  li#about a { background: url('../i/banner-about.png');}
  li#log a { background: url('../i/banner-logbook.png');}
  li#projects a { background: url('../i/banner-projects.png');}
  li#contact a { background: url('../i/banner-contact.png');}

#meat { width: 960px; margin: 25px auto 0 auto;}
#secondary { float: left; width: 390px; text-align: right; margin: 20px 20px 0 0;}
#primary { float: left; width: 470px; margin-top: 3px;}
#footer { margin: 25px auto 0 auto; width: 960px;}

/* I need to go to Typography School */
h1 { }
h2,h3 { font-size: 1em; font-weight: 900; color: #505048; text-transform: uppercase; margin: 0 0 20px 0;}
h3 {}
h4 {}
h5 {}
h6 {}
p { font-size: 1em; font-weight: 100; color: #505048; line-height: 1.6; padding: 0 0 27px 0;}
	p.caption { text-align: right; font-style: italic; font-size: 0.875em;}
	#footer p { font-size: 0.6875em; text-transform: uppercase;}
p strong { color: #333; font-style: italic; letter-spacing: -0.1px;}

.subTitle { font-style: italic; color: #777;}
abbr { border-bottom: 1px dotted #555; cursor: help;}
em { font-style: italic;}
div.feature { background-color: #505048; border: 5px #999 solid; margin-bottom: 10px; padding: 10px 15px 0 10px;}
div.feature p { color: #EEE;}
div.feature a:link, div.feature a:visited { color: #FFF;}
div.feature a:focus, div.feature a:hover { background-color: #FFC; color: #693;}

/* Link, bling, yo! */

#primary h3 a { color: #A171A6;}
a:link, a:visited { color: #888; text-decoration: none; text-transform: uppercase;}
a:focus { background-color: #FFC; color: #693;}
a:hover, #primary h3 a:hover, a:visited:hover { color: #693;}

	/* Global Navigation */
	#nav a:link, #nav a:visited, #nav a:hover, #nav a:focus { color: #333; font-size: 0.6875em;}
	#nav a:hover, #nav a:visited:hover { color: #693;}
	body#pageIndex a#navIndex, body#pageAbout a#navAbout, body#pageLog a#navLog, body#pageProject a#navProject, body#pageContact a#navContact { color: #693;}
	/* Secondary Navigation */
	#secondary ul { list-style-type: none; margin: 27px 15px 0 0;}
	#secondary ul li { line-height: 1.7; font-size: 0.8125em; margin-bottom: 5px;}
span.whoo { color: #EEE; font-style: italic;}
a:hover span.whoo { color: #693;}

/* Contact Form */
#gb_form_div legend, #gb_form_div .main_formhead { display: none;}
#gb_form_div { font: 16px/1.7 'Palatino Linotype', Palatino, Georgia, serif; color: #888;}
#gb_form_div input.med, #gb_form_div textarea { border: none; width: 420px; border-bottom: 2px #693 dotted; font: 16px/1.7 'Palatino Linotype', Palatino, Georgia, serif; color: #888; color: #693;}
#gb_form_div input.short { font: 1em/1.7 'Palatino Linotype', Palatino, Georgia, serif; color: #888; color: #C60;}
/* set up relativity to position small Why? text */
small.whythis { position : relative;}
small.whythis a:hover, small.whythis a:focus, small.whythis a:active { text-decoration: none;} 
/* hide the Why? text span */
small.whythis a span { border: 1px solid #FFF; background-color: #FFF; padding: 0 4px 0 4px; color: #FFF; text-decoration: none;}
/* bring back Why? text span (title attribute backs this up for borwsers it doesn't function in */
small.whythis a:hover span, small.whythis a:focus span, small.whythis a:active span { background-color: #FFC; color: #693; text-decoration: none;}

/* Project Page Specific */
body#pageProject #secondary ul li { display: inline; margin: 0 30px 0 0; line-height: 90px;}
body#pageProject #secondary ul li a img { border: 5px #EEE solid;}
body#pageProject #secondary ul li#feature a img { border: 5px #FFC solid;}
body#pageProject #secondary ul li a:hover img { border: 5px #DDDCCF solid;}